@{

}

<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  @{
    string title = ViewData["title"] as string ?? "";

    string appName = TempData.Peek("appName") as string ?? "";

    string productPage = TempData.Peek("productPage") as string ?? "";
  }
  <title>@title | @appName</title>
  <meta name="description" content="" />

  @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="~/RookEcomShop.CustomerFrontend.styles.css" asp-append-version="true" /> *@

  <!-- Core Styles -->
  @await Html.PartialAsync("~/Views/Shared/Sections/_Styles.cshtml")

  <!-- Vendor Styles -->
  @RenderSection("VendorStyles", required: false)

  <!-- Page Styles -->
  @RenderSection("PageStyles", required: false)

  <!-- Include Scripts for customizer, helper, analytics, config -->
  @await Html.PartialAsync("~/Views/Shared/Sections/_ScriptsIncludes.cshtml")
</head>

<body class="w-full h-full flex min-h-screen items-stretch">

  <!-- Layout Content -->
  @RenderBody()
  <!--/ Layout Content -->

  <!-- Core Scripts -->
  @await Html.PartialAsync("~/Views/Shared/Sections/_Scripts.cshtml")

  <!-- Vendor Scripts -->
  @RenderSection("VendorScripts", required: false)


  <!-- Page Scripts-->
  @RenderSection("PageScripts", required: false)


  <script src="~/js/site.js" asp-append-version="true"></script>

</body>

</html>
