@using RookEcomShop.CustomerFrontend.Models.Products
@using RookEcomShop.CustomerFrontend.ViewComponents
@model ProductReviewsVM

@{
    var reviews = @Model.Reviews.Items;
    ViewData["ProductId"] = @Model.Reviews.Items.FirstOrDefault()?.ProductId;
    ViewData["ReviewId"] = @Model.Reviews.Items.FirstOrDefault()?.Id;
    ViewData["Product"] = @Model.Product;
    var totalReviews = @Model.Reviews.Items.Count();
}

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <div class="flex items-center gap-2">
            <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">Reviews</h2>

            <div class="mt-2 flex items-center gap-2 sm:mt-0">
                <div class="flex items-center gap-0.5 fill-yellow-300 stroke-yellow-300">
                    <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                    </svg>
                    <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                    </svg>
                    <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                    </svg>
                    <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                    </svg>
                    <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                    </svg>
                </div>
                <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">(@Model.AverageRating)</p>
                <a href="#"
                    class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white">
                    @reviews.Count() Reviews </a>
            </div>
        </div>

        <div class="my-6 gap-8 sm:flex sm:items-start md:my-8">
            <div class="shrink-0 space-y-4">
                <p class="text-2xl font-semibold leading-none text-gray-900 dark:text-white">@Model.AverageRating out of
                    5</p>
                <button type="button" id="write-review-btn" data-modal-target="review-modal"
                    data-modal-toggle="review-modal"
                    class="mb-2 me-2 rounded-lg bg-indigo-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:ring-4 focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">Write
                    a review</button>
            </div>

            <div class="mt-6 min-w-0 flex-1 space-y-3 sm:mt-0">
                <partial name="Partials/_TotalStar.cshtml"
                    model='new TotalStar { Label = "5", TotalStars = totalReviews, Ammount = Model.TotalFiveStar }' />
                <partial name="Partials/_TotalStar.cshtml"
                    model='new TotalStar { Label = "4", TotalStars = totalReviews, Ammount = Model.TotalFourStar }' />
                <partial name="Partials/_TotalStar.cshtml"
                    model='new TotalStar { Label = "3", TotalStars = totalReviews, Ammount = Model.TotalThreeStar }' />
                <partial name="Partials/_TotalStar.cshtml"
                    model='new TotalStar { Label = "2", TotalStars = totalReviews, Ammount = Model.TotalTwoStar }' />
                <partial name="Partials/_TotalStar.cshtml"
                    model='new TotalStar { Label = "1", TotalStars = totalReviews, Ammount = Model.TotalOneStar }' />
            </div>
        </div>

        <div class="mt-6 divide-y divide-gray-200 dark:divide-gray-700">
            @foreach (var review in reviews)
            {
                <partial name="Partials/_ReviewCard.cshtml" model="review" />
            }

        </div>

        <div class="mt-6 text-center">
            <button type="button"
                class="mb-2 me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">View
                more reviews</button>
        </div>
    </div>
</section>

<partial name="Partials/_ReviewModal.cshtml" model="@Model.ReviewsProductInputModel" view-data="ViewData" />
<partial name="Partials/_ConfirmDeleteReviewDialog.cshtml" view-data="ViewData" />
